
:root{
    background-color: rgb(255, 255, 255);
}
p:first-child{
    color: white;
    background-color: black;
}
p:last-child {
    color: red;
  }
  #list1{
    background-color: grey;
    width:50%;
    padding: 10px;
  }
  li:nth-child(odd){
    background-color: white;
  }
  li:nth-child(1){
    font-size: 22px;
  }
  li:nth-child(5){
    font-size: 22px;
  }